<!-- Fragmento para definir el menú de administrador-->
<div id="admin-sidebar" class="sidebar">
		<ul>
			<li><a href="admin-ofertas.php">ADMIN OFERTAS</a></li>
			<li><a href="admin-demandas.php">ADMIN DEMANDAS</a></li>
			<li><a href="admin-contratos.php">VER CONTRATOS</a></li>
			<li><a href="admin-historial.php">HISTORIAL</a></li>
			<li><a href="admin-encuestas.php">ENCUESTAS</a></li>
			<li><a href="admin-buzon.php">ADMIN BUZON</a></li>
		</ul>
</div>
