<!-- Fragmento para definir el footer -->
<div id="admin-footer" class ="footer">
	Internprise 
	<div class="footer-icons">
		<a class="fa fa-github-square" href="https://github.com/franloza/aw"></a>
	</div>
</div>