<!-- Fragmento para definir el menú de empresa-->
<div id="empresa-sidebar" class="sidebar">
	<div id="empresa-menu-avatar" class="menu-avatar">
		<img src="img/empresa-avatar.png" alt="Avatar image" height="200" width="200"></img>
	</div>
	<ul>
		<li><a href="empresa-perfil.php">PERFIL</a></li>
		<li><a href="empresa-ofertas.php">OFERTAS</a></li>
		<li><a href="empresa-solicitudes.php">SOLICITUDES</a></li>
		<li><a href="empresa-contratos.php">CONTRATOS</a></li>
		<li><a href="empresa-buzon.php">BUZÓN</a></li>
	</ul>
</div>
