<!-- Fragmento para incluir CSS -->
<head>
    <meta charset="UTF-8">
    <title>Internprise - Portal Empresa</title>
    <link rel="stylesheet" href="css/menu.css" type="text/css">
    <link rel="stylesheet" href="css/content.css" type="text/css">
    <link rel="stylesheet" href="css/titlebar&footer.css" type="text/css">
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="img/favicon-empresa.png">
 </head>