<!-- Fragmento para definir el titlebar (header) -->
<div id='empresa-titlebar' class='titlebar'>
	<img src="img/favicon-empresa.png" alt="Internprise icon" height="70" width="70"></img>
	<div id="label-titlebar">
		<label>
			<a id="title-site" href="empresa-dashboard.php">Internprise Empresa</a>
			<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
			<a id="previous-page" href="empresa-dashboard.php">Anterior</a>
			<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
			<a id="current-page" href="empresa-dashboard.php">Actual</a>
		</label>
	</div>
	<div id="icons-titlebar">
		<a id="bell" class="fa fa-bell fa-lg" href="#"></a>
		<a id="settings" class="fa fa-cog fa-lg" href="#"></a>
		<a class="fa fa-power-off fa-lg" href="index.html"></a>
	</div>
</div>