<!-- Fragmento para definir el menú de administrador-->
<div id="estudiante-sidebar" class="sidebar">
	<div id="estudiante-menu-avatar" class="menu-avatar">
		<img src="img/estudiante-avatar.png" alt="Avatar image" height="200" width="200"></img>
	</div>
		<ul>
			<li><a href="estudiante-perfil.php">PERFIL</a></li>
			<li><a href="estudiante-ofertas.php">OFERTAS</a></li>
			<li><a href="estudiante-buzon.php">BUZON</a></li>
		</ul>
</div>
