<!-- Fragmento para definir el titlebar (header) -->
<div id="estudiante-titlebar" class='titlebar'>
	<img src="img/favicon-estudiante.png" alt="Internprise icon" height="70" width="70"></img>
	<div id="label-titlebar">
		<label>
			<a id="title-site" href="estudiante-dashboard.php">Internprise Estudiante</a>
			<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
			<a id="previous-page" href="estudiante-dashboard.php">Anterior</a>
			<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
			<a id="current-page" href="estudiante-dashboard.php">Actual</a>
		</label>
	</div>
	<div id="icons-titlebar">
		<a id="bell" class="fa fa-bell fa-lg" href="notifications.php"></a>
		<a id="settings" class="fa fa-cog fa-lg" href="settings.php"></a>
		<a class="fa fa-power-off fa-lg" href="index.html"></a>
	</div>
</div>
