<!-- Fragmento para definir el footer -->
<div id="estudiante-footer" class ="footer">
	Internprise
	<div class="footer-icons">
		<a class="fa fa-github" href="https://github.com/franloza/aw"></a>
	</div>
</div>
