@import url(https://fonts.googleapis.com/css?family=Satisfy);

/*CSS correspondiente a la sección titlebar*/
/*==============================================================*/

.titlebar {
  	color: #fff;
    font-family: "helvitica", arial;
    height: 50px;
    width: 100%;
    min-width: 440px;
    position: fixed; /*Hace que la posición no varie ni haciendo scroll, siempre se mantiene en el mismo lugar*/
    z-index: 10; /*Necesario para que el titlebar se muestre encima de otros elementos*/
}

#admin-titlebar {
	background: linear-gradient(#004D40, #16a085);
}

#empresa-titlebar {
	background: linear-gradient(#01579B, #3498BB);
}

#estudiante-titlebar{
	background: linear-gradient(#B40404, #E53935);
}

.titlebar img { /*favicon*/
	float: left;
	padding-left: 10px;
	animation-name: faviconAnimation;
	animation-duration: 0.4s;
	animation-delay: 0.09s;
	animation-iteration-count: 1;
	animation-direction: both;
}
@keyframes faviconAnimation {
	0%{transform: scale(4,4);}
	50%{transform: scale(1,1);}
	75%{transform: scale(4,4);}
	100%{transform: scale(1,1);}
}
#label-titlebar {
    padding: 8px 0 8px 20px;
    float: left;
}

#label-titlebar label i{
	padding-right: 20px;
	padding-left: 20px;
}

#label-titlebar #title-site {
	font-family: 'Satisfy', cursive;
	font-size: 27px;
	text-shadow: 5px 5px 8px #000000;
}

#label-titlebar #title-site:hover{
	text-shadow: none;
	text-decoration: none;
}

#label-titlebar a:hover {
	text-decoration: underline;
}

#label-titlebar a {
	text-decoration: none;
	color: white;
}

#icons-titlebar {
	float: right;
	padding: 15px 0 15px 0;
}

#icons-titlebar a {
	margin-left: 15px;
	margin-right: 20px;
    text-decoration: none;
}

#icons-titlebar #bell:hover { /*animación para campana*/
	animation-name: ringinBell;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: both;
}

@keyframes ringinBell
{
  0%   {transform: rotate(10deg)}
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(0)}
  75%  {transform: rotate(10deg)}
  100% {transform: rotate(0)}
}

#icons-titlebar #settings:hover { /*animación para ajustes*/
	animation-name: rotateSettings;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes rotateSettings
{
  from {
  	transform: rotate(0deg);
  }
  to{
  	transform: rotate(360deg);
  }
}

#icons-titlebar > a {
    height:100%;
}

#icons-titlebar > a:link {
    text-decoration: none;
    color: white;
}
#icons-titlebar > a:visited {
    text-decoration: none;
    color: white;
}

#icons-titlebar > a:hover {
    text-decoration: none;
    color: #444;
}

#icons-titlebar > a:active {
    text-decoration: none;
}
/*==============================================================*/


/*CSS correspondiente a la sección footer (pie de página)*/
/*==============================================================*/

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
    min-width: 440px;
	height: 20px;
	color: white;
	text-align: center;
	font-family: 'Satisfy', cursive;
	z-index: 11;
}

#admin-footer {
	background: #004D40;
}

#empresa-footer {
    background: #01579B;
}

#estudiante-footer {
	background: #B40404;
}

.footer-icons {
	float: right;
	text-decoration: none;
	margin-right: 10px;
}

.footer-icons a:active {
	text-decoration: none;
}

.footer-icons a:link {
	text-decoration: none;
	color: white;
}

.footer-icons a:visited {
    text-decoration: none;
    color: white;
}
/*==============================================================*/

@media only screen and (max-width: 768px) {
	/* For mobile phones: */

	.content {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
	}

	.titlebar > img {
		display: none;
	}

    .titlebar > #label-titlebar i,#current-page,#previous-page {
        display:none;
    }

}