/*Index page*/
/*==============================================================*/

body {
   background: #f5f7fa;
}

#index-contenedor
{
	padding: 50px;
}

#index-contenedor .animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

#index-contenedor .action-button
{
	position: relative;
	padding: 10px 40px;
     margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

#index-contenedor .blue
{
	background-color: #3498BB;
	border-bottom: 5px solid #448AFF;
	text-shadow: 0px -2px #448AFF;
}

#index-contenedor .red
{
	background-color: #E7463C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

#index-contenedor .green
{
	background-color: #16a685;
	border-bottom: 5px solid #16a085;
	text-shadow: 0px -2px #16a085;
}

#index-contenedor .action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*==============================================================*/
.content {
	position: relative;
	top: 50px;
	left: 200px;
	padding: 15px;
	min-width: 800px;
  background: #f5f7fa;
}
/*CSS correspondiente a la sección contenido*/
/*==============================================================*/

/*Dashboard search*/

.dashboard-content .btn-search {
	border: 1px solid #ccc;
	background:  #737373;;
	font-size: 12px;
	padding: 6px 10px;
	margin-left: 30px;
	margin-top: 20px;
	width: 820px;
}

.dashboard-content .icon-search {
	padding-left: 2px;
	display: inline-block;
}
.dashboard-content .txt-search {
	padding-left: 17px;
	width: 94%;
	display: inline-block;
}


/*Widgets dashboard*/

.square a {
  text-decoration: none;
  color: inherit;
}
.square a:link {
  text-decoration: none;
}

.square a:visited {
  text-decoration: none;
}

.dashboard-content {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboard-content .widget-content {
  padding-top: 35px;
  width: 900px;
  height: 300px;
  text-align: center;
}

.dashboard-content .widget {
  border: 1px solid #ccc;
  background: #f5f7fa;
  margin-right: 15px;
  margin-left: 15px;
  width: 400px;
  height: 280px;
  display: inline-block;

  -webkit-box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
  -moz-box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
  box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
}

.dashboard-content .widget-header {
  background: #fff;
  color: #000;
  width: 370px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.dashboard-content .content-widget {
  background: #fff;
  width: 385px;
  height: 225px;
  padding-left: 15px;
  text-align: left;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard-content .title {
  font-size: 18px;
  display: inline-block;
}

.dashboard-content .title-items {
  display: inline-block;
  float: right;
}

.dashboard-content .square {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  color: #ed5565;
  width: 50px;
  height: 50px;
  border: 1px solid #ed5565;
  padding: 2px 8px;
}

.dashboard-content .square:hover {
  color: #000;
  background: #ed5565
}

.dashboard-content .media {
  margin-top: 12px;
  margin-right: 12px;
}

.dashboard-content .media-left {
  display: inline-block;
  vertical-align: top;
}

.dashboard-content .media-body {
  margin-left: 10px;
  margin-right: 5px;
  display: inline-block;
  font-size: 15px;
}

.dashboard-content .text-muted {
  color: #777;
}

/*Cuadro de búsqueda */

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  transform: translate(-50%, -50%);
}

/*==============================================================*/

/*Content de los widgets del dashboard */

.widget-content li{
    border: 1px solid grey;
    list-style: none;
    width: 100%;
}

/*==============================================================*/

/*Tabla genérica content*/

.table-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*Tablas administrador*/

.admin-table,.table-header{
    width: 75%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-left: 30px;
}

.admin-table td, th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

.admin-table td{
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }

.admin-table  th{
    background-color: #16a085;
    color : white;
  }

.admin-table tr:nth-of-type(even) td{
    background-color: rgba(22, 160, 133, 0.3);
  }


.table-container .table-header {
  background-color: grey;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  color:white;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.admin-table .cell-status .pass{
  color:green;
}

.admin-table .cell-status .fail{
  color:red;
}

/*Tablas estudiante*/

.estudiante-table,.table-header{
    width: 75%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-left: 30px;
}

.estudiante-table td, th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

.estudiante-table td{
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }

.estudiante-table  th{
    background-color: #B40404;
    color : white;
  }

.estudiante-table tr:nth-of-type(even) td{
    background-color: rgba(180,4,4,0.3);
  }
/*Tablas empresa*/

.empresa-table,.table-header{
    width: 75%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-left: 30px;
}

.empresa-table td, th {
    border-top: 1px solid #ECF0F1;;
    padding: 10px;
}

.empresa-table td{
    border-left: 1px solid #ECF0F1;;
    border-right: 1px solid #ECF0F1;;
  }

.empresa-table  th{
    background-color: #448AFF;
    color : white;
  }

.empresa-table tr:nth-of-type(even) td{
    background-color: rgba(70,150,250,0.3);
  }
  
  
/*==============================================================*/

 /*Filtros*/

.filtros{
  margin : 20px;

}

.filtros label{
  font-size:1.00em;
}

.filtro{
  margin:0;
  background:none;

  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Magic font size number to prevent iOS text zoom */
  font-size:1.00em;
  /* General select styles: change as needed */
  /* font-weight: bold; */
  color: #444;
  padding: .6em 1.9em .5em .8em;
  line-height:1.3;

  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  background: #f3f3f3;
}

/*==============================================================*/

/*Pagina Admin Demandas Vista */

#content-perfil .aptitudes li.li2{
float: left;
color: #fff;
display: inline-block;
width: 90px;
height: 30px;
padding: 10px;
border-radius: 20px;
text-align: center;
margin: 5px;
}

#content-perfil #admin-aptitudes li.li2{
background: rgba(22,160,133,50);
}

#content-perfil #estudiante-aptitudes li.li2{
background: rgba(180,4,4,50);
}

#content-perfil #empresa-aptitudes li.li2{
background: rgba(68,138,255,50);
}


#content-perfil #admin-aptitudes li.li2:nth-child(2n){
   background: #2C614B;
}

#content-perfil #estudiante-aptitudes li.li2:nth-child(2n){
   background: #B40404;
}

#content-perfil img{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 250px;
}

#content-perfil .header-perfil{
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  width: 60%;
}

#content-perfil #informacion-personal{
  clear: both;
  padding:10px;
}

#content-perfil #documentacion-adicional{
  clear: both;
   padding:10px;
}


/*==============================================================*/
/*Pagina Buzón */
.buzon{
  text-align: center;
  width: 70%;
}
.buzon h1, h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-buzon > fieldset{
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  text-align: left;
}

.form-buzon textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

.form-buzon button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  color:#FFF;
  margin:10px 0 5px;
  padding:10px;
  font-size:15px;
}
.form-buzon #buzon-submit-empresa {
   background: #448AFF;
}

.form-buzon #buzon-submit-estudiante {
   background: #B40404;
}
/*==============================================================*/
/*Pagina Perfil Empresa */

.perfil-empresa-content {
  width: 900px;
}
.container-empresa-perfil {
  background: #f5f7fa;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 900px;
  height: 756px;
}
.perfil-empresa-content .titulo-perfil {
  background: #67a2b9;
  width: 900px;
  height: 195px;
  padding-top: 20px;
  position: relative;
}


.perfil-empresa-content .logo-perfil {
  border: 2px solid #444;
  background-image: url("img/rediris.jpg");
  background-size: 200px 180px;
  width: 200px;
  height: 180px;
  margin-left: 40px;
  display: inline-block;
  position: absolute;
  z-index: 2;
}
.perfil-empresa-content .datos-logo-perfil {
  border: 1px solid #ccc;
  background: #fff;
  width: 638px;
  height: 120px;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}
.perfil-empresa-content .datos-logo-perfil {
  padding-left: 260px;
  padding-top: 40px;
}
.perfil-empresa-content .container-empresa-perfil .text-muted {
  color: #7f8490;
}
.perfil-empresa-content #nombre-empresa {
  margin-bottom: 2px;
}

.perfil-empresa-content .descripcion-perfil {
  padding: 30px 50px 30px 30px;
}

.perfil-empresa-content .descripcion-perfil p{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  padding-bottom: 10px;
}
.perfil-empresa-content .datos-interes-perfil {
  width: 900px;
}
.perfil-empresa-content .bloque {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-align: justify;
  width: 200px;
  float: left;
  margin: 0px 50px;
  text-align: left;
}
.perfil-empresa-content .text-muted {
  color: #555;
  margin-bottom: 14px;
}
/*==============================================================*/

/* DASHBOARD EMPRESA */
.Buscador-talentos{
	float:left;
}

/*Ofertas empresa*/
#add-oferta {
    width: 100px;
    height: 25px;
    background: #448AFF;
    color: #fff;
    border: none;
    margin: auto 10px auto 25px;
    box-shadow: 0 4px 0 #444DFF;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    border-radius: 3px;
 }
 
 fieldset {
     width:40%;
     border: 0px;
 }

/*==============================================================*/
