/* Francisco José Lozano Serrano. 3ºB */
body {
	background-color: #9ACCCD;
}

#contenedor {
	width:900px;
	margin:auto;
	border:1px solid red;
	margin-top:30px;
    background-color: #AAAAAA;
}

#cabecera {
	padding:30px;
	height:100px;
	background-color: #8FD8A0;
}

#sidebar-left,#sidebar-right  {
	padding:10px;
	height:400px;
	width:170px;
	background-color:#CBD890;
    float:left;
}

#contenido {
	padding:10px;
	background-color: #8FD8A0;
	min-height: 600px;
	width:500px;
	background-color:#DACC8F; 
    float:left;
}

#pie {
    clear:both;
	padding:10px;
	text-align: center;
	height:40px;
	background-color: #8FD8A0;
}